@media screen and (max-width:980px){
  
.nav{
  	display: none;
  }

.mobile_manu_icon {
    display: block;
    float: right;
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
}

.container{
	width: 95%;
}

}
